.App {
  text-align: right;
  
}
body,html{
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #1a1d22;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: fit-content;
}
.Toolbar{
  display:flex;
  flex-direction: row-reverse;
  align-items: stretch;
  float: left;
  text-align: center;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
